from maze import Puzzle, {{player_type}}

maze = Puzzle.from_file("{{levelname}}")
{{player}}: {{player_type}} = maze.player

'''
https://studio.code.org/s/{{course.key}}/lessons/{{lesson.absolute_position}}/levels/{{level.position}}

{{level.config.properties.long_instructions}}

---
{{toolbox}}
'''

# When run

{{start_code}}

# Keep this
Puzzle.done()
